/*
* @Author: Winnie
* @Date:   2018-08-25 19:52:47
* @Last Modified by:   Winnie
* @Last Modified time: 2018-08-25 22:39:57
*/

/* 导航主体 */
.nav-side{
	float: left;
	width: 130px;
	min-height: 100px;
}
.nav-side .nav-item{
	line-height: 25px;
	font-size: 13px;
	
}
.nav-side .nav-item .link{
	color: #888;
}
.nav-side .nav-item.active .link{
	color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
	float: left;
	width: 950px;  /* 1080px - 130px = 950px */
}