/*
* @Author: Winnie
* @Date:   2018-08-29 12:10:39
* @Last Modified by:   Winnie
* @Last Modified time: 2018-08-29 19:25:23
*/
.form-line{
	margin-bottom: 10px;  /* 可以先在chrome浏览器检查中试试，间距合适再复制到代码中 */
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.form-line .label{
	display: inline-block;
	width: 80px;
	text-align: center;
}
.form-line .input{
	height: 25px;
	line-height: 25px;
	width: 200px;
	font-size: 14px;

}