/*
* @Author: Winnie
* @Date:   2018-08-25 15:09:55
* @Last Modified by:   Winnie
* @Last Modified time: 2018-08-25 15:25:10
*/

.footer{
	padding-bottom: 10px;
	
}
.footer .links{
	text-align: center;
	color: #666;
	line-height: 30px;

}
.footer .links .link{
	padding: 0 10px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}
