/*
* @Author: Winnie
* @Date:   2018-08-25 10:28:29
* @Last Modified by:   Winnie
* @Last Modified time: 2018-08-28 18:43:45
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;   /* 头部导航栏的颜色 */
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}